/* div{
    height: 100px;
    width: 100px;
    color: white;
    background-color: dodgerblue;
    border: 1px solid black;
} */
#ldmode{
    background-color: aqua;
    color: black;
    font-weight: bold;
    height: 85px;
    width: 185px;
}